/* font -------------------------------*/
/* Marcellus*/
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
/* Karla*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
body {
  background-color: green;
}

/* App.js */
.App {
  font-family: "Marcellus", serif;
}

/* MyHeader.js */

.MyHeader {
  /* position: fixed; */
  position: absolute;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  backdrop-filter: saturate(100%) blur(30px);
}

.HeaderLogo {
  margin-left: 30%;
  width: 7vw;
}

.HeaderContainer {
  width: 100vw;
  text-align: left;
  align-items: center;
  display: flex;
  /* justify-content: center; */
}

.LinkContainer {
  margin-left: 5%;
}
.HeaderLink {
  text-decoration: none;
  color: white;
  margin-left: 10%;
  font-size: 1.2vw;
}

/* PageHeader.js */
.HeaderName {
  margin-left: 39vw;
  font-size: 1.5vw;
}

/* Visualize.js */

.VisualizerContainer {
  place-items: center;
  display: grid;
}

.NeonMotion {
  width: 50%;
}

.TypoMotion {
  width: 50%;
}

/* MainPage.js */
.MainBackground {
  position: absolute;
  width: 100vw;
}

.MainpageContainer {
  /* width: 100vw; */
  /* overflow: hidden; */
  margin: 0px auto;
  position: relative;
}
.MainHeader {
  position: absolute;
  top: 0%;
  width: 100%;
}

/* BrandStoryPage.js */

.PageSlide {
  margin: 0 auto;
  height: 100vh;
}

/* MyFooter.js*/
.FooterLine {
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 13px;
  margin-left: 2%;
  margin-bottom: -25px;
}
.FooterImage {
  height: 40px;
}
.FooterTitle {
  color: #a3a4a6;
}
.FooterBorder {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 150;
  margin-bottom: 50;
  height: 0.8px;
  color: #a3a4a6;
  background: #a3a4a6;
}

/* ScrollTestPage.js */
body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.bg-yellow {
  background-image: "process.env.PUBLIC_URL + `/assets/images/EcoBottle_1.svg`";
}

.bg-blue {
  background-color: #b6d8f2;
}

.bg-pink {
}
.PageSlide {
  height: 80vh;
}

/* Contact.js */
.ContactPageContainer {
  background-color: #ffffff;
}
.ContactPageTitle {
  padding-top: 15vh;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 7vh;
  color: #00a8d6;
}
.ContactIndex {
  margin-left: 23vw;
  position: fixed;
}
.ContactRow {
  margin-bottom: 15px;
}
.RequestInput {
  margin-left: 30vw;
  font-family: "Marcellus", serif;
  height: 4vh;
  width: 40vw;
}
.RequestInput_Contents {
  height: 30vh;
  resize: none;
  font-family: "Marcellus", serif;
}
.ContactRow {
  display: flex;
  align-items: center;
}
