/* font -------------------------------*/
/* Marcellus*/
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

body {
  background-color: green;
}

/* App.js */
.App {
  font-family: "Marcellus", serif;
}

/* MyHeader.js */

.MyHeader {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  backdrop-filter: saturate(100%) blur(30px);
}

.HeaderLogo {
  margin-left: 30%;
  width: 7vw;
}

.HeaderContainer {
  text-align: left;
  align-items: center;
  display: flex;
}

.LinkContainer {
  margin-left: 5%;
}
.HeaderLink {
  text-decoration: none;
  color: white;
  margin-left: 10%;
  font-size: 1.2vw;
}
/* Visualize.js */

.VisualizerContainer {
  place-items: center;
  display: grid;
}

.NeonMotion {
  width: 50%;
}

.TypoMotion {
  width: 50%;
}

/* MainPage.js */
.MainBackground {
  height: 100vh;
}

.MainpageContainer {
  /* width: 100vw; */
  /* overflow: hidden; */
  margin: 0px auto;
  position: relative;
}
.MainHeader {
  position: absolute;
  top: 0%;
  width: 100%;
}
